{{/* This template is combined with other templates to render blog pages. */}}

{{define "root"}}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="theme-color" content="#DCF0F8">
	<title>{{template "title" .}}</title>
	<link type="text/css" rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script type="text/javascript">window.initFuncs = [];</script>
	
</head>
<body>
<div id="topbar">
	<div class="container">
		<a id="heading-goopher" href="{{.GodocURL}}/"> </a>
		<div id="side-menu">
			<h1>
				<a id="burger-menu" href="#">
					<span id="burger-menu-icon" class="fa fa-bars"></span>
				</a>
			
				<a id="heading-wide" href="{{.GodocURL}}/">onGolang - The Go Programming Language</a>
				<a id="heading-narrow" href="{{.GodocURL}}/">onGolang</a>
			</h1>
			<!-- <div class="top-heading" > </div>
			<div class="top-heading" > </div>-->
		</div>		
	</div>
</div>

<div id="page">
<div class="container">


<div id="sidebar" class="hide">
	<div id="goopher"></div>

	<div id="inner-sidebar">
		<!-- {{with .Doc}}
			{{with .Newer}}
				<h4>Next article</h4>
				<p><a href="{{.Path}}">{{.Title}}</a></p>
			{{end}}
			
			{{with .Older}}
				<h4>Previous article</h4>
				<p><a href="{{.Path}}">{{.Title}}</a></p>
			{{end}}
		{{end}} -->
		<!--
		<h4>
		<form method="GET" action="{{.GodocURL}}/search">
			<input type="text" id="search" name="q" class="inactive" value="Search" placeholder="Search" />
		</form>
		</h4>
		-->
		<ul class="egmenu">
			<li><a href='//twitter.com/onGolang'>Follow us on Twitter</a></li>
			<li><a href='//on-golang.appspot.com/index'>Blog Index</a></li>
			<li><a href='//golang.org/'>golang.org</a></li>
			<li><a href='https://gobyexample.com/'>Go by Example</a></li>
			<li><a href='https://cloud.google.com/appengine/docs/go/'>Powered by AppEngine</a></li>
		</ul>
	</div>
</div><!-- #sidebar -->

<div id="content">
	<!-- <h1><a href="{{.BasePath}}/">onGolang &mdash; News on Golang</a></h1> -->
	{{template "content" .}}
</div><!-- #content -->


</div><!-- .container -->
<div id="footer">
	<div id="peluche"></div>
	<p>
	The content of this page is licensed under the Creative Commons
	Attribution 3.0 License,<br>
	and code is licensed under a BSD license</a>.<br>
	</p>
</div><!-- #footer -->
</div><!-- #page -->

</body>
<script src="/lib/godoc/jquery.js"></script>
<script src="/lib/godoc/playground.js"></script>
<script src="/lib/godoc/play.js"></script>
<script src="/lib/godoc/godocs.js"></script>
<script>
$(function() {
	// Insert line numbers for all playground elements.
	$('.playground > pre.numbers, .code > pre.numbers').each(function() {
		var $spans = $(this).find('> span');

		// Compute width of number column (including trailing space).
		var max = 0;
		$spans.each(function() {
			var n = $(this).attr('num')*1;
			if (n > max) max = n;
		});
		var width = 2;
		while (max > 10) {
			max = max / 10;
			width++;
		}

		// Insert line numbers with space padding.
		$spans.each(function() {
			var n = $(this).attr('num')+' ';
			while (n.length < width) n = ' '+n;
			$('<span class="number">').text(n).insertBefore(this);
		});
	});

	$("#burger-menu").click(function (e) {
		e.preventDefault();
		$("#sidebar").toggleClass("visible");
		$("#sidebar").toggleClass("hide");
		$("#burger-menu-icon").toggleClass("selected");
		return false;
	});

	initPlayground(new HTTPTransport());
});
</script>
</html>
{{end}}

{{define "doc"}}
	<div class="article">
		<h3 class="title"><a href="{{.Path}}">{{.Title}}</a></h3>
		<p class="date">
            <i class="fa fa-calendar"></i>&nbsp;
            {{.Time.Format "2 January 2006"}}
    		{{with .Authors}}
	    	&nbsp;
            <i class="fa fa-user"></i>&nbsp;
            {{authors .}}
            {{end}}
	    	&nbsp;
            {{with .Tags}}
            <i class="fa fa-tags"></i>&nbsp;
            <span class="tags">{{range .}}<a href="/tag/{{.}}">{{.}}</a> {{end}}</span>
		    {{end}}
        </p>
        <div class="article-content">
			{{.HTML}}
        </div>
	</div>
{{end}}
